@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .backly {
    background-color: #f5f7ff;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
.gjs-editor {
  background: white !important;
}

.gjs-cv-canvas {
  background: white !important;
  min-height: 100%;
}

.gjs-block {
  cursor: grab;
}
